@(whichActive: String)
<div class="navbar">
    <ul class="content-wrap">
        <li><a href="/" @if(whichActive == "Home"){class="active"}>Home</a></li>
        <li><a href="/images" @if(whichActive == "Images"){class="active"}>Images</a></li>
        <li><a href="/posts" @if(whichActive == "Posts"){class="active"}>Posts</a></li>
        <li><a href="/projects" @if(whichActive == "Projects"){class="active"}>Projects</a></li>
        <li><a href="/perso/edit" @if(whichActive == "Perso"){class="active"}>Personal</a></li>
        <li><a href="/password/edit" @if(whichActive == "Password"){class="active"}>Password</a></li>
        <li><a href="javascript:void(0);" onclick="doLogout()">Logout</a></li>
    </ul>
</div>
