.navbar {
  background-color: $primary-color;
  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
  }

  li {
    flex: 1;
    border: 0;
    width: auto;
  }

  li a {
    display: block;
    color: $secondary-color;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $tertiary-color;
    color: $secondary-color;
  }

  .active {
    background-color: $secondary-color;
    color: $primary-color;
  }

  margin-bottom: 10px;
}
