.pagination {
	margin: 20px;
	a {
		text-decoration: none;
		color: $primary-color;
	}

	.pg-item,.pg-spacer {
		display: inline-block;
		padding: .25em .5em 0;
		margin: 2px;
		line-height: 1.2;
	}

	.pg-item {
		border: 1px solid $light-border-color;
		border-radius: 4px;
		color: $primary-color;
	}

	.pg-spacer {
		color: $light-border-color;
	}

	.active {
		background-color: $primary-color;
		border: 1px solid $primary-color;
		color:	$secondary-color;
	}

	a:hover {
		border: 1px solid adjust-color($light-border-color, $red:-32, $green:-32, $blue:-32)
	}
}
