@import "theme.scss";
@import "forms.scss";
@import "navbar.scss";
@import "categories.scss";
@import "pagination.scss";

* {
  margin: 0;
  padding: 0;
}

footer {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.header {
  a {
    color: $font-color;
    text-decoration: inherit;
  }
}

body {
  font: 100% $font-stack;
  color: $font-color;
  text-align: center;
  background: $background-color;
}

html, body {
  height: 100vh;
}

h1 {
  font-size: 40px;
  margin: 35px 0;
}

h1,h2,h3,h4 {
  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  margin: 25px 0;
  font-size: 30px;
}

.side-by-side-ul {
  ul {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    width: 30%
  }
}

.listitem {
  .remove-icon {
    display: inline-block;
  }
}

.page-wrap {
  min-height: 90vh;
}

.content-wrap {
  margin: 0 auto;
  max-width: $page-max-width;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 20px;
}

.site-footer {
  margin: 0 auto;
  font-weight: bold;
  opacity: 0.5;
}

.loader {
  border: 8px solid $spinner-background-color;
  border-top-color: $spinner-color1;
  border-bottom-color: $spinner-color2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spin 0.5s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $error-border-color;
  background: $error-box-background-color;
  color: $error-text-color;
  max-width: $page-max-width;
  text-align: center;
  border-radius: 10px;

  h2 {
    margin: 0 0 10px 0;
  }
}

.success {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $success-border-color;
  background: $success-box-background-color;
  color: $success-text-color;
  max-width: $page-max-width;
  text-align: center;
  border-radius: 10px;

  h2 {
    margin: 0 0 10px 0;
  }
}

.preview {
  display: none;

  input[type=button] {
    display: block;
    margin: 10px auto;
  }
}

.underline {
  border-bottom: 2px solid gray;
}

.docs {
  padding: 20px $docs-horizontal-padding;
  margin: 20px 0;

  ul {
    margin: 1em 0 1em 20px;
  }

  li {
    margin-left: 10px;
  }
}

.doc {
  margin: auto;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: left;
  word-break: break-word;

	img {
		max-width: 100%;
	}

  blockquote {
    display: block;
    margin: 1em 20px;
    border-left: 2px solid lightgray;
    padding-left: 10px;
  }

  pre {
    margin: 10px;
  }

  h2, h3, h4 {
    position: relative;

    .anchor {
      display: none;
      position: absolute;
      left: -27px;
      width: 30px;
    }
    &:hover {
      .anchor {
        display: inline-block;
      }
    }
  }

  h3, h4 {
    margin: 20px 0;
  }

  p {
    margin-bottom: 10px;
    line-height: $docs-line-height;
  }

  ul {
    line-height: $docs-line-height;
  }

}

.explicit-link {
  font-size: 16px;
}

.small-date {
  font-size: 16px;
}

