@import "theme.scss";

form {
  border: 2px solid $border-color;
  background-color: $box-background-color;
  color: $border-color;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;

  label {
    margin: 5px;
  }

  input {
    margin-bottom: 5px;
  }

  input[type=text], input[type=password], textarea {
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
  }

  input[type=text].not-ok, input[type=password].not-ok {
    border-left: 3px solid $error-border-color;
  }

  input[type=text].ok, input[type=password].ok {
    border-left: 3px solid $success-border-color;
  }
}

.login-form, .edit-password-form {
  max-width: 450px;

  .label-field {
    vertical-align: text-top;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    label {
      width: 45%;
    }

    input {
      width: 45%;
      margin-right: 5%;
    }
  }
}

.post-edit-form {
  width: 90%;
  height: 800px;
  text-align: right;

  .label-field {
    vertical-align: text-top;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    label {
      width: 10%;
    }

    input, textarea {
      width: 80%;
      margin-left: 5%;
    }
  }

  .label-field-date {
    vertical-align: text-top;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    label {
      width: 10%;
    }

    input[type=datetime-local] {
      margin-left: 5%;
    }
  }

  .title, .publication {
    height: 30px;
  }

  .content {
    height: 600px;
  }

  .summary {
    height: 60px;
  }

  .buttons {
    text-align: center;
  }
  input[type=button] {
    display: inline-block;
    margin: 0 auto;
  }
}

input[type=button] {
  background-color: $border-color;
  color: $box-background-color;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}
