@import "theme.scss";

.posts {
  text-align: left;
  max-width: 800px;
  margin: auto;
  font-size: 20px;

  blockquote {
    display: block;
    margin: 1em 20px;
    border-left: 2px solid lightgray;
    padding-left: 10px;
  }

  h2 {
    margin-top: 10px;
  }

  pre {
    margin: 10px;
  }
}

.post {
  ul {
    margin: 1em 0 1em 20px;
  }

  li {
    margin-left: 10px;
  }
}

.post-summary {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $border-color;
  background: $box-background-color;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}