@import "theme.scss";

.post-summary {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $border-color;
  background: $box-background-color;
  max-width: $page-max-width;
  text-align: center;
  border-radius: 10px;
}
