@import "theme.scss";

.posts {
  text-align: left;
  max-width: $page-max-width+$posts-horizontal-padding;
  margin: auto;
  font-size: 20px;

  blockquote {
    display: block;
    margin: 1em 20px;
    border-left: 2px solid lightgray;
    padding-left: 10px;
  }

  pre {
    margin: 10px;
  }
}

.post {
  box-shadow: 0 4px 2px -2px gray,
              0 -4px 2px -2px gray;
  padding: 20px $posts-horizontal-padding;
  margin: 20px 0;
  ul {
    margin: 1em 0 1em 20px;
  }

  li {
    margin-left: 10px;
  }
}

.post-summary {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $border-color;
  background: $box-background-color;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}
