@import "theme.scss";

* {
  margin: 0;
}

footer {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.header {
  margin-bottom: 10px;
}

body {
  font: 100% $font-stack;
  color: $font-color;
  text-align: center;
}

html, body {
  height: 100%;
}

h2 {
  margin-bottom: 10px;
}

.login-form {
  border: 2px solid $border-color;
  background-color: $box-background-color;
  color: $border-color;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  input {
    margin-bottom: 5px;
  }

  input[type=text], input[type=password] {
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
  }

  input[type=text].not-ok, input[type=password].not-ok {
    border-left: 3px solid $error-border-color;
  }

  input[type=text].ok, input[type=password].ok {
    border-left: 3px solid $ok-border-color;
  }
}

input[type=button] {
  background-color: $border-color;
  color: $box-background-color;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -20px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 20px;
}

.site-footer {
  background: $box-background-color;
  hr {
    border: 1px solid $border-color;
  }
}

.posts {
  list-style-type: none;
  padding: 0;
}

.loader {
  border: 8px solid $spinner-background-color;
  border-top-color: $spinner-color1;
  border-bottom-color: $spinner-color2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spin 0.5s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.post-summary {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $border-color;
  background: $box-background-color;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}

.error {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $error-border-color;
  background: $error-box-background-color;
  color: $error-text-color;
  width: 75%;
  text-align: center;
  border-radius: 10px;
}