@import "theme.scss";
@import "forms.scss";
@import "posts.scss";

* {
  margin: 0;
  padding: 0;
}

footer {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.header {
  a {
    color: $font-color;
    text-decoration: inherit;
  }
}

body {
  font: 100% $font-stack;
  color: $font-color;
  text-align: center;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  margin: 30px 0;
  font-size: 30px;
}

.page-wrap {
  max-width: $page-max-width;
  margin: 0 auto -20px auto;
  min-height: 100%;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 20px;
}

.site-footer {
  max-width: $page-max-width;
  margin: 0 auto;
  font-weight: bold;
  opacity: 0.5;
}

.loader {
  border: 8px solid $spinner-background-color;
  border-top-color: $spinner-color1;
  border-bottom-color: $spinner-color2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spin 0.5s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $error-border-color;
  background: $error-box-background-color;
  color: $error-text-color;
  max-width: $page-max-width;
  text-align: center;
  border-radius: 10px;

  h2 {
    margin: 0 0 10px 0;
  }
}

.success {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $success-border-color;
  background: $success-box-background-color;
  color: $success-text-color;
  max-width: $page-max-width;
  text-align: center;
  border-radius: 10px;

  h2 {
    margin: 0 0 10px 0;
  }
}

.preview {
  display: none;

  input[type=button] {
    display: block;
    margin: 10px auto;
  }
}

.navbar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
    display: flex;
  }

  li {
    flex: 1;
    border: 0;
    width: auto;
  }

  li a {
    display: block;
    color: $secondary-color;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $tertiary-color;
    color: $secondary-color;
  }

  .active {
    background-color: $secondary-color;
    color: $primary-color;
  }

  margin-bottom: 10px;
}

.underline {
  border-bottom: 2px solid gray;
}

.docs {
  padding: 20px $docs-horizontal-padding;
  margin: 20px 0;

  ul {
    margin: 1em 0 1em 20px;
  }

  li {
    margin-left: 10px;
  }
}

.doc {
  margin: auto;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: left;

  blockquote {
    display: block;
    margin: 1em 20px;
    border-left: 2px solid lightgray;
    padding-left: 10px;
  }

  pre {
    margin: 10px;
  }
}
