@import "theme.scss";
@import "forms.scss";
@import "posts.scss";

* {
  margin: 0;
  padding: 0;
}

footer {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.header {
  margin-bottom: 10px;
  a {
    color: $font-color;
    text-decoration: inherit;
  }
}

body {
  font: 100% $font-stack;
  color: $font-color;
  text-align: center;
}

html, body {
  height: 100%;
}

h2 {
  margin-bottom: 10px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -20px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 20px;
}

.site-footer {
  background: $box-background-color;
  hr {
    border: 1px solid $border-color;
  }
}

.loader {
  border: 8px solid $spinner-background-color;
  border-top-color: $spinner-color1;
  border-bottom-color: $spinner-color2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spin 0.5s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $error-border-color;
  background: $error-box-background-color;
  color: $error-text-color;
  width: 75%;
  text-align: center;
  border-radius: 10px;
}

.success {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid $success-border-color;
  background: $success-box-background-color;
  color: $success-text-color;
  width: 75%;
  text-align: center;
  border-radius: 10px;
}

.preview {
  display: none;

  input[type=button] {
    display: inline-block;
    margin: 0 50%;
  }
}

.navbar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: $secondary-color;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $tertiary-color;
    color: $secondary-color;
  }

  .active {
    background-color: $secondary-color;
    color: $primary-color;
  }

  margin-bottom: 10px;
}