$font-stack: Helvetica, sans-serif;
$font-color: #333;

$border-color: dodgerblue;
$box-background-color: lightcyan;

$spinner-background-color: lightgray;
$spinner-color1: $border-color;
$spinner-color2: cornflowerblue;

$error-border-color: darkred;
$error-text-color: $error-border-color;
$error-box-background-color: palevioletred;