$primary-color: dodgerblue;
$secondary-color: lightcyan;
$tertiary-color: cornflowerblue;

$error-primary-color: darkred;
$error-secondary-color: palevioletred;

$success-primary-color: green;
$success-secondary-color: greenyellow;

$font-stack: Helvetica, sans-serif;
$font-color: #333;

$border-color: $primary-color;
$box-background-color: $secondary-color;

$spinner-background-color: lightgray;
$spinner-color1: $primary-color;
$spinner-color2: $tertiary-color;

$success-border-color: $success-primary-color;
$success-text-color: $success-primary-color;
$success-box-background-color: $success-secondary-color;

$error-border-color: $error-primary-color;
$error-text-color: $error-primary-color;
$error-box-background-color: $error-secondary-color;

$page-max-width: 800px;
