$primary-color: dodgerblue;
$secondary-color: lightcyan;
$tertiary-color: cornflowerblue;

$error-primary-color: darkred;
$error-secondary-color: palevioletred;

$ok-primary-color: green;

$font-stack: Helvetica, sans-serif;
$font-color: #333;

$border-color: $primary-color;
$box-background-color: $secondary-color;

$spinner-background-color: lightgray;
$spinner-color1: $primary-color;
$spinner-color2: $tertiary-color;

$ok-border-color: $ok-primary-color;

$error-border-color: $error-primary-color;
$error-text-color: $error-primary-color;
$error-box-background-color: $error-secondary-color;